body, * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*font-weight: 100;*/
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: black;
}

.nav-container {
    text-align: center;
    align-content: center;
}

    .nav-container ul {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 0px;
    }

    .content, .nav-container ul {
        margin: 0 auto;
        width: 80%;
    }

        .nav-container ul li {
            padding: 20px;
        }

.content {
    padding: 20px;
}

.title {
    padding: 20px;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}


/* all pages grid view and add button css */
.add-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.grid {
    width: 100%;
}

    .grid th, .grid td {
        /*line-height: 1;*/
        padding: 10px 20px;
        text-align: start;
        font-size: 15px;
    }

.btn {
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 12px;
}

    .grid-btn:nth-child(1) {
        background-color: dodgerblue;
    }

    .grid-btn:nth-last-child(1) {
        background-color: orangered;
    }
    
/* Add Edit Page */

    .btn-save{
        background-color: forestgreen;
    }

    .btn-cancel{
        color: black;
        background-color: gainsboro;
    }


.input {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container{
    text-align: center;
    margin: 0 auto;
}

.row{
    padding: 10px;
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}