USE [master]
GO
/****** Object:  Database [Student]    Script Date: 25-12-2023 13:10:42 ******/
CREATE DATABASE [Student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Student]
GO
/****** Object:  Table [dbo].[Student2]    Script Date: 25-12-2023 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student2](
	[name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contact] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 25-12-2023 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[id] [int] NOT NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](50) NULL,
	[join_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25-12-2023 13:10:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[uname] [varchar](15) NOT NULL,
	[Pwd] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[StudentInfo] ([id], [name], [email], [join_date]) VALUES (101, N'Ronald Trump', N'ronald@example.com', CAST(N'2017-01-12' AS Date))
INSERT [dbo].[StudentInfo] ([id], [name], [email], [join_date]) VALUES (102, N'Donald Trump', N'donald@example.com', CAST(N'2017-02-12' AS Date))
INSERT [dbo].[StudentInfo] ([id], [name], [email], [join_date]) VALUES (103, N'Monald Trump', N'monald@eample.com', CAST(N'2017-12-02' AS Date))
GO
INSERT [dbo].[Users] ([uname], [Pwd]) VALUES (N'user1', N'user1')
INSERT [dbo].[Users] ([uname], [Pwd]) VALUES (N'user2', N'user2')
INSERT [dbo].[Users] ([uname], [Pwd]) VALUES (N'user3', N'user3')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_Users]    Script Date: 25-12-2023 13:10:42 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [PK_Users] PRIMARY KEY NONCLUSTERED 
(
	[uname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
